@model StudentModelChange

<h3>Change Password</h3>
<br />
@if (TempData["AlertMessageSP"] != null)
{
    <div class="alert alert-success">
        <strong>Success! </strong>  @TempData["AlertMessageSP"]
    </div>

}
@if (TempData["AlertMessageFP"] != null)
{
    @if (TempData["AlertMessageSP"] == null)
    {
        <div class="alert alert-danger">
            <strong>Failed! </strong>  @TempData["AlertMessageFP"]
        </div>
    }

}

<div class="row">
    <div class="col-6">
        <form asp-controller="Students" asp-action="Password" method="post">

            Username
            <input type="text" id="Username" name="Username" value="" class="form-control" />
            <span class="text-danger" asp-validation-for="Username"> </span>
            <br />

            Password
            <input type="password" id="Password" name="Password" value="" class="form-control" />
            <span class="text-danger" asp-validation-for="Password"> </span>
            <br />


            New Password
            <input type="password" id="NewPassword" name="NewPassword" value="" class="form-control" />
            <span class="text-danger" asp-validation-for="NewPassword"> </span>
            <br />

            Confirm Password
            <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="" class="form-control" />
            <span class="text-danger" asp-validation-for="ConfirmPassword"> </span>
            <br />


            <a asp-controller="Students" asp-action="Index" class="btn btn-secondary">
                Back
            </a>


            <button type="submit" class="btn btn-primary">
                Reset
            </button>

        </form>
    </div>
</div>